
Calculator/.idea/caches/build_file_checksums.ser
Calculator/settings.gradle
Calculator/gradlew.bat
Calculator/gradlew
Calculator/gradle/wrapper/gradle-wrapper.properties
Calculator/gradle/wrapper/gradle-wrapper.jar
Calculator/gradle.properties
Calculator/app/proguard-rules.pro
Calculator/.idea/runConfigurations.xml
Calculator/.idea/render.experimental.xml
Calculator/.idea/misc.xml
Calculator/.idea/jarRepositories.xml
Calculator/.idea/gradle.xml
Calculator/.idea/compiler.xml
Calculator/.idea/codeStyles/Project.xml
