
Calculator/.idea/caches/build_file_checksums.ser
Calculator/settings.gradle
Calculator/gradlew.bat
Calculator/gradlew
Calculator/gradle/wrapper/gradle-wrapper.properties
Calculator/gradle/wrapper/gradle-wrapper.jar
Calculator/gradle.properties
Calculator/app/proguard-rules.pro
Calculator/.idea/runConfigurations.xml
Calculator/.idea/render.experimental.xml
Calculator/.idea/misc.xml
Calculator/.idea/jarRepositories.xml
Calculator/.idea/gradle.xml
Calculator/.idea/compiler.xml
Calculator/.idea/codeStyles/Project.xml
ArtImages/gradle.properties
ArtImages/gradle/wrapper/gradle-wrapper.jar
ArtImages/gradle/wrapper/gradle-wrapper.properties
ArtImages/gradlew
ArtImages/gradlew.bat
ArtImages/settings.gradle
ArtImages/app/src/test/java/com/marikh/artimages/ExampleUnitTest.kt
ArtImages/app/proguard-rules.pro
ArtImages/.idea/render.experimental.xml
ArtImages/.idea/misc.xml
ArtImages/.idea/jarRepositories.xml
ArtImages/.idea/gradle.xml
ArtImages/.idea/compiler.xml
Contacts/.idea/compiler.xml
Contacts/.idea/gradle.xml
Contacts/.idea/jarRepositories.xml
Contacts/.idea/misc.xml
Contacts/.idea/render.experimental.xml
Contacts/app/proguard-rules.pro
Contacts/gradle.properties
Contacts/gradle/wrapper/gradle-wrapper.jar
Contacts/gradle/wrapper/gradle-wrapper.properties
Contacts/gradlew
Contacts/gradlew.bat
Contacts/settings.gradle
